In [1]:
import pandas as pd
import numpy as np
from statistics import mode
import matplotlib.pyplot as plt
from IPython.display import clear_output

## import the file

In [2]:
flow = pd.read_excel('FLOWER KNN.xlsx')
flow.head()

   Sepal Length  Sepal Width   Species
0           5.3          3.7     setosa
1           5.1          3.8     setosa
2           7.2          3.0  virginica
3           5.4          3.4     setosa
4           5.1          3.3     setosa

## Renaming the columns

In [3]:
cols = ['Sepal Length','Sepal Width','Species ']
flow.rename(columns= {cols[0]:1, cols[1]:2, cols[2]:'Species'}, inplace= True)
## creating a column for the euclidean distance
flow['Eu-Distance'] = 9999
flow.head()

     1    2    Species  Eu-Distance
0  5.3  3.7     setosa         9999
1  5.1  3.8     setosa         9999
2  7.2  3.0  virginica         9999
3  5.4  3.4     setosa         9999
4  5.1  3.3     setosa         9999

## Using a function to create the euclidean distance and using it to find the right species for the values given

In [6]:
user_input = input('enter your values seprated by space: ')
# clear screenab
clear_output(wait=True)
values = [float(x) for x in user_input.split(' ')]
target =pd.Series(values)
flow['Eu-Distance'] = ((flow.iloc[:,0]-target[0])**2 +  (flow.iloc[:,1]-target[1])**2)**0.5
k = 10
flow = flow.sort_values('Eu-Distance', ascending= True) 
knn = list(flow.head(k).Species)
clear_output(wait=True)
print(f'the coresponding flower for values you gave is:', mode(knn))

the coresponding flower for values you gave is: setosa